// Project Archive

.rt-project-default {
	.project-item {
		position: relative;
		@include transition_default;
		.project-thumbs {
			position: relative;
			overflow: hidden;
			z-index: 1;
			img {
				width: 100%;
				transition: all 0.4s ease-in-out;
			}
			.project-content {
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 1;
				padding: 30px;
				width: 100%;
				@media(min-width: 1200px) {
					padding: 0 120px 50px 60px;
				}
			}
			.project-title {
				font-size: 30px;
				line-height: 1.4;
				font-weight: 700;
				position: relative;
				padding-bottom: 14px;
				margin-bottom: 16px;
				&:before {
					content: "";
					height: 1px;
					background-color: $primary_color;
					position: absolute;
					transition: all 0.5s ease-in-out;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 0;
					opacity: 0;
					display: block;

				}
				&:after {
					height: 1px;
					width: 100%;
					background-color: #d9d9d9;
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					opacity: 1;
					transition: all 0.5s ease-in-out;
					display: block;
				}
				a {
					color: $white_color;
				}
			}
			.project-cat {
				font-size: 15px;
				text-transform: uppercase;
				transition: all 1s ease-in-out;
				letter-spacing: 4.5px;
				display: inline-block;
				a {
					color: $white_color;
				}
			}
			.project-excerpt {
				margin-top: 12px;
				color: $white_color;
			}
			.rt-button {
				margin-top: 20px;
			}
			&.is-blend {
				img {
					filter: grayscale(100%);
				}
			}
			&:hover {
				&.is-blend {
					img {
						filter: grayscale(0);
					}
				}
				.project-thumbs {
					img {
						transform: scale(1.05);
					}
				}
			}
			&:after {
				height: 40%;
				width: 100%;
				background-color: #000;
				filter: blur(100px);
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				transition: all 1s ease-in-out;
			}
		}
		&:hover {
			.project-thumbs {
				img {
					transform: scale(1.1);
					filter: grayscale(100%);
				}
				.project-content {
					.project-title {
						a {
							color: $primary_color;

						}
						&:before {
							width: 100%;
							opacity: 1;
						}
						&:after {
							opacity: 0;
							transition: all 0.5s ease-in-out;
						}
					}
					.project-cat {
						a {
							color: $primary_color;
						}
					}
				}
			}
		}
	}
}
.rt-project-multi-layout-2 {
	.project-item {
		&:hover {
			.project-thumbs {
				img {
					transform: scale(1);
				}
			}
			.project-content {
				color: $white_color;
				&:after {
					height: 100%;
				}
				.project-subtitle {
					color: $white_color;
				}
				.project-cat {
					a {
						color: $white_color;
					}
				}
				.project-title {
					a {
						color: $white_color;
					}
				}
			}
		}
		.project-thumbs {
			margin-bottom: 0;
			img {
				transform: scale(1.05);
			}
			&:after {
				display: none;
			}
		}
		.project-content {
			background-color: $white_color;
			padding: 28px 25px 25px;
			transform: translateY(-66px);
			margin-right: 0;
			position: relative;
			z-index: 1;
			@media(min-width: 1200px) {
				margin-right: 60px;
			}
			&:after {
				content: "";
				position: absolute;
				z-index: -1;
				height: 0;
				width: 100%;
				bottom: 0;
				left: 0;
				background-color: $title_color;
				transition: all 0.3s ease-in-out;
			}
		}
		.project-subtitle {
			font-size: 18px;
			color: #8d8d8d;
			margin-bottom: 5px;
		}
		.project-title {
			font-size: 24px;
			line-height: 1.2;
			margin-bottom: 10px;
			a {
				color: $title_color;
			}
		}
		.project-cat {
			display: inline-block;
			font-size: 15px;
			text-transform: uppercase;
			font-weight: 600;
			@include transition_default();
		}
		.rt-button {
			margin-top: 20px;
		}
	}
}



.rt-project-multi-layout-3 {
	.project-item {
		position: relative;
		overflow: hidden;
		text-align: center;
		height: 100%;
		&:hover {
			.project-thumbs {
				.post-thumbnail-wrap {
					.post-thumbnail {
						&:after {
							visibility: visible;
							transform: scaleY(1) translateZ(0px);
						}
					}
				}
			}
			.project-content {
				opacity: 1;
				visibility: visible;
				.project-subtitle {
					transition-delay: .1s;
					transform: translate3d(0, 0, 0);
				}
				.project-title {
					transition-delay: .2s;
					transform: translate3d(0, 0, 0);
				}
				.project-cat {
					transition-delay: .3s;
					transform: translate3d(0, 0, 0);
				}
				.project-excerpt {
					transition-delay: .4s;
					transform: translate3d(0, 0, 0);
				}
				.rt-button {
					transition-delay: .5s;
					transform: translate3d(0, 0, 0);
				}
			}
		}
		.project-thumbs {
			position: relative;
			&:after {
				display: none;
			}
			.post-thumbnail-wrap {
				.post-thumbnail {
					position: relative;
					&:after {
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background-color: rgba(11, 8, 0, 0.5);
						visibility: hidden;
						transform-origin: bottom center;
						transform: scaleY(0) translateZ(100px);
						transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease;
						z-index: 1;
					}
					.post-thumb-link {
						img {
							transform: scale(1.1);
						}
					}
				}
			}
		}
		.project-content {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateY(-50%) translateX(-50%);
			padding: 0 !important;
			opacity: 0;
			visibility: hidden;
			z-index: 1;
			bottom: auto;
			&:after {
				display: none;
			}
			.project-info {

				@include transition_default();
			}
			.project-subtitle {
				transform: translate3d(0, 100%, 0);
				transition: all .5s;
			}
			.project-title {
				transform: translate3d(0, 100%, 0);
				transition: all .5s;
				padding: 0;
				a {
					color: $white_color;
					&:hover {
						color: $primary_color;
					}
				}
				&:before {
					display: none;
				}
				&:after {
					display: none;
				}
			}
			.project-cat {
				transform: translate3d(0, 100%, 0);
				transition: all .5s;
				text-transform: uppercase;
				font-size: 15px;
				font-weight: 600;
				a {
					color: $white_color;
					&:hover {
						color: $primary_color;
					}
				}
			}
			.project-excerpt {
				transform: translate3d(0, 100%, 0);
				transition: all .5s;
				color: $white_color;
			}
			.rt-button {
				transform: translate3d(0, 100%, 0);
				transition: all .5s;
			}
		}
		.rt-button {
			margin-top: 20px;
			.button-2, .button-3 {
				margin: 0;
				&:hover {
					i {
						color: $primary_color;
					}
				}
				&:before {

					background-color: $title_color;
				}
				&:after {

					background-color: $white_color;
				}
				i {
					font-size: 14px;
					transition: all .3s ease-in-out;
					margin-left: 0;
					&:before {
						margin: 0;
						width: auto;
					}
				}
			}
		}
	}
}


// Project Single
.project-single {
	@media(min-width: 1140px) {
		.project-item-wrap {
			display: flex;
			gap: 24px;
			justify-content: space-between;
		}
		.project-item-content {
			flex: 1;
		}
		.project-content-info {
			max-width: 33.3333333333%;
			flex: 0 0 33.3333333333%;
		}
	}
	@media(max-width: 1139px) {
		.project-item-content {
			margin-bottom: 48px;
		}
	}
	.post-thumbnail-wrap {

	}
	.project-item-content {
		.wp-block-image {
			img {
				border-radius: 12px;
			}
		}
		 ul {
			list-style: none;
			margin: 0 0 10px;
			padding: 0;
			li {
				position: relative;
				padding-left: 32px;
				font-size: 16px;
				color: $title_color;
				+ li {
					margin-top: 10px;
				}
				&:before {
					position: absolute;
					left: 0;
					top: 2px;
					font-size: 20px;
					content: "\e845";
					font-family: "rt-fontello";
					transition: all ease 0.31s;
					color: $primary_color;
				}
			}
		}
	}
	.project-information {
		@media (min-width: 1140px) {
			padding-right: 60px;
		}
		@media (max-width: 1139px) {
			margin-bottom: 40px;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.info-title {
			font-size: 30px;
			line-height: 1.4;
		}
		.info-list {
			> li {
				border-bottom: 1px solid $border_color;
				margin-bottom: 10px;
				padding-bottom: 10px;
				&:last-child {
					border-bottom: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
			a {
				color: $body_color;
				&:hover {
					color: $primary_color;
				}
			}
			label {
				color: $title_color;
				font-size: 15px;
				width: 110px;
				display: inline-block;
			}
		}
		ul.rating {
			display: inline-flex;
			column-gap: 5px;
			li.star-rate {
				i {
					color: $tertiary_color;
				}
			}
		}
	}
	.project-content {
		margin-top: 30px;
		.entry-title {
			font-size: clamp(30px, 4vw, 36px);
			margin-bottom: 20px;
			line-height: 1.2;
		}
	}
}
// popup project
.elementor-lightbox {
	.elementor-lightbox-image {
		border-radius: 12px;
	}
	.elementor-swiper-button {
		> i {
			background-color: $white_color;
			color: $button_text_color;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 44px;
			height: 44px;
		}
	}
}
// Related project
.rt-related-project {
	margin-top: 60px;
	.related-title {
		font-size: 50px;
		margin-bottom: 36px;
	}
	.project-item {
		.project-thumbs {
			.project-content {

				padding: 0 40px 30px 40px;
				width: 100%;
			}
		}
	}
}
