// Counter style

.rt-counter-layout {
	.rt-counter-box {
		position: relative;
		display: inline-block;
		&:hover {
			&:after {
				visibility: hidden;
				opacity: 0;
			}
			&:before {
				opacity: 1;
				visibility: visible;
				width: 100%;
				left: 0%;
			}
		}

		&:after {
			content: "";
			height: 1px;
			width: 100%;
			background-color: #D9D9D9;
			position: absolute;
			top: 61%;
			left: 0;
			visibility: visible;
			opacity: 1;
			transition: width 0.8s;
		}
		&:before {
			content: "";
			height: 1px;
			width: 0;
			background-color: $primary_color;
			position: absolute;
			top: 61%;
			left: 100%;
			visibility: hidden;
			opacity: 0;
			transition: width 0.8s;
		}
		.counter-number {
			display: inline-flex;
			font-size: 50px;
			font-weight: 700;
			//color: $title_color;
			line-height: 1.2;
			font-family: $heading_font;
			transition: all 0.5s cubic-bezier(0.17, 0.67, 0.32, 0.87);
			position: relative;
			padding-bottom: 25px;
			margin-bottom: 15px;
			color: transparent;
			-webkit-text-stroke: 2px $white_color;
			.counter {
				position: relative;
				&:before {
					overflow: hidden;
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					color: $primary_color;
					white-space: nowrap;
					content: attr(data-hover);
					transition: all 0.5s cubic-bezier(0.17, 0.67, 0.32, 0.87);
				}
			}
			.counter-unit {
				position: relative;
				&:before {
					overflow: hidden;
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					color: $primary_color;
					white-space: nowrap;
					content: attr(data-hover);
					transition: all 0.5s cubic-bezier(0.17, 0.67, 0.32, 0.87);
				}
			}

			@media (min-width: 1200px) {
				font-size: 60px;
			}
		}
		.counter-label {
			font-size: 20px;
			font-weight: 600;
			color: $title_color;
			line-height: 1.2;
			margin-bottom: 0;
			text-transform: uppercase;
			font-family: $heading_font;
			@media (min-width: 768px) {
				font-size: 16px;
			}
			@media (min-width: 1200px) {
				font-size: 24px;
				line-height: 1;
			}
		}
		&:hover {
			.counter-number {
				color: transparent;
				-webkit-text-stroke: 2px $primary_color;
				.counter {
					&::before {
						width: 100%;
					}
				}
				.counter-unit {
					&::before {
						width: 100%;
					}
				}
			}
		}
	}
}
.rt-counter-layout-2 {
	.rt-counter-box {
		.counter-number {
			color: transparent;
			text-decoration: none;
			background-clip: text;
			letter-spacing: 10px;

		}
		.counter-label {
			letter-spacing: 3px;
			color: $white_color;
		}
	}
}

