/* Elementor global CSS
===============================*/
.elementor-icon.elementor-social-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

// Magnific popup
.mfp-iframe-holder {
	.mfp-iframe {
		border-radius: 0;
	}
	.mfp-close {
		top: -44px;
		right: 0;
		text-align: center;
		width: 44px;
		opacity: 1;
		padding-right: 0;
		background-color: $primary_color;
		border-radius: 0;
	}
}

.about-home-1-img {
	.rt-image-layout-2 {
		.rt-img {
			border: 5px solid $white_color;
			border-radius: 10px;
			background-color: #fff;
			img {
				border-radius: 10px;
			}
		}
	}
}

//Support style

.rt-support-wrap {
	.elementor-icon-box-wrapper {
		display: flex;
		gap: 20px;
		.elementor-icon-box-icon {
			.elementor-icon {
				height: 50px;
				width: 50px;
				display: inline-block;
				text-align: center;
				background-color: $primary_color;
				border-radius: 100%;
				line-height: 22px;
				z-index: 1;
				position: relative;
				&::before {
					content: "";
					height: 60px;
					width: 60px;
					background-color: rgba(255, 204, 0, 1);
					border-radius: 50%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateY(-50%) translateX(-50%);
					animation: pulse-border 2000ms ease-out infinite;
					z-index: -1;

				}
				&::after {
					content: "";
					height: 70px;
					width: 70px;
					background-color: rgba(255, 204, 0, 1);
					border-radius: 50%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateY(-50%) translateX(-50%);
					animation: pulse-border 2000ms ease-out infinite;
					z-index: -2;

				}
				i {
					width: auto;
					height: auto;
					display: inline-block;
					&:before {
						margin: 0;
					}
				}
			}
		}
		.elementor-icon-box-title {
			a {
				color: $white_color;
			}
		}
	}
}
.rt-phone-support {
	.elementor-icon-box-wrapper {
		.elementor-icon-box-icon {
			.elementor-icon {
				i {
					height: 60px;
					width: 60px;
					background-color: $primary_color;
					border-radius: 100%;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					&:before {
						top: 50%;
						transform: translateY(-50%) translateX(-50%);
						margin: 0;
					}
				}
			}
		}
	}
}


// Faq Style

.faq-style-1 {
	.e-n-accordion-item {
		margin-bottom: 30px !important;
		.e-n-accordion-item-title {
			border: 1px solid #E5E5E5;
			position: relative;
			padding: 15px 0 15px 40px;
			border-radius: 5px;
			@media(max-width: 425px) {
				padding: 15px 0 15px 15px;
			}
			.e-n-accordion-item-title-header {
				.e-n-accordion-item-title-text {
					font-size: 22px;
					font-weight: 600;
					line-height: 45px;
					@media(max-width: 425px) {
						font-size: 18px;
						line-height: 30px;
						width: 80%;
					}
				}
			}
			.e-n-accordion-item-title-icon {
				height: 60px;
				width: 60px;
				background-color: $primary_color;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				border-radius: 5px;
				@media(max-width: 425px) {
					height: 45px;
					width: 45px;
				}
			}
		}
		.e-con-full .e-con  {
			padding: 0 40px;
			@media(max-width: 425px) {
				padding: 0 5px;
			}
			.e-con-inner {
				.elementor-widget-text-editor {
					p {
						margin-bottom: 0;
					}
				}
			}
		}
		.elementor-widget-n-accordion .e-n-accordion-item-title, :where(.elementor-widget-n-accordion .e-n-accordion-item>.e-con) {
			border: 1px solid #E5E5E5;
			border-radius: 0 0 5px 5px;
			border-top: 0;
		}

	}
	&.elementor-widget-n-accordion .e-n-accordion-item[open] .e-n-accordion-item-title {
		background-color: $primary_color;
		border-color: $primary_color;
		border-radius: 5px 5px 0 0;
		.e-n-accordion-item-title-icon {
			background-color: $white_color;
		}
	}
}
.faq-style-2 {
	.e-n-accordion {
		.e-n-accordion-item {
			background-color: $white_color;
			box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
			border-radius: 5px;
			.e-n-accordion-item-title {
				padding: 25px 30px;
				transition: all 0.4s linear;
				.e-n-accordion-item-title-icon {
					transition: all 0.4s linear;
				}
			}

			&.e-n-accordion-item[open] {
				.e-n-accordion-item-title {
					background-color: $primary_color;
					border-radius: 5px 5px 0 0;
				}
			}
		}
	}
}

// Tab Style

.rt-quote-tab-box {
	position: relative;
	z-index: 1;
	.e-n-tabs-heading {
		gap: 20px;
	}
}

// About Style
.about-box-1 {
	.rt-image-layout-2 {
		@media(max-width: 1199px) {
			display: none;
		}
	}
}

// Hero Style

.hero-banner-layout-1 {
	.rt-image-layout-2 {
		.rt-image {
			@media(max-width: 767px) {
				position: unset !important;
			}
		}
	}
}

// Service Style

.rt-service-wrap-1 {
	@media(max-width: 1199px) {
		background-image: none !important;
	}
}

.rt-video-wrap {
	.icon-style3 {
		background-attachment: unset;
	}
}

.rt-header-nine {
	.menu-main-menu-container > ul > li.mega-menu > ul {
		top: 76%;
	}
}

