// Image style
.rt-image-layout {
	position: relative;
	.rt-image {
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 0;
		.rt-img {
			display: block;
		}
		img {
			 object-fit: cover;
		}
		@media (max-width: 1199px) {
			img {
				width: 100%;
			}
		}
	}
	.rt-content {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.rt-image-layout-1 {
	.rt-image {
		position: relative;
		z-index: 1;
	}
}

//.rt-image-layout-2 {
//	.rt-image {
//		.rt-img {
//			clip-path: inset(0 100% 0 0);
//			transition: all ease 1s;
//			&.active-animation {
//				clip-path: inset(0 0 0 0);
//			}
//		}
//	}
//}

// Gallery

.rt-gallery-item {
	.image-link {
		position: relative;
		overflow: hidden;
		background-color: $title_color;
		i {
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			margin: 0 auto;
			text-align: center;
			transform: translateY(-50%);
			visibility: hidden;
			opacity: 0;
			transition: all ease 0.31s;
		}
		img {
			opacity: 1;
			transition: all ease 0.31s;
		}
	}
	&:hover {
		.image-link {
			i {
				visibility: visible;
				opacity: 1;
			}
			img {
				opacity: 0.5;
			}
		}

	}
}


