// Menu Icon

.rt-phone-1 {
	display: flex;
	align-items: center;
	line-height: 1.4;
	.phone-icon {
		padding-right: 8px;
	}
	.phone-label {
		padding-right: 8px;
	}
	.content {
		display: flex;
		align-items: center;
	}
}
.rt-phone-2 {
	display: flex;
	align-items: center;
	line-height: 1.4;
	@media (max-width: 767px) {
		display: none;
	}
	.phone-icon {
		color: $title_color;
		padding-right: 8px;
		i {
			height: 45px;
			width: 45px;
			border-radius: 100%;
			background-color: $primary_color;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			animation: phone-ring-anim 2.5s infinite ease-in-out;
		}
	}
	.phone-label {
		color: $title_color;
		font-size: 14px;
		padding-right: 8px;
		display: block;
	}
	.phone-number {
		color: $title_color;
		font-size: 20px;
		font-weight: 700;
		display: block;
		transition: all .3s ease-in-out;
		&:hover {
			color: $primary_color;
		}
	}
}

.branding-wrap {
	display: flex;
	gap: 20px;
	align-items: center;
	//@media (max-width: 767px) {
	//	justify-content: center;
	//}
	@media (min-width: 1200px) {
		gap: 60px;
	}
	ul {
		position: relative;
		z-index: 1;
		&:after {
			content: "";
			height: 92px;
			width: 1px;
			background-color: #d9d9d9;
			position: absolute;
			top: -32px;
			right: -30px;
			display: none;
			@media (min-width: 1200px) {
				display: block;
			}
		}
		.ham-burger {
			list-style: none;
			&:hover {
				.menu-bar {
					background-color: $primary_color;
				}
			}
			.menu-bar {
				position: relative;
				z-index: 1;
				line-height: 100px;
				&:hover {
					&:before {
						transform: scale(1);
					}
				}
				&:before {
					content: "";
					height: 100%;
					width: 100%;
					background-color: $primary_color;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					transform: scale(0);
					transition: .4s;
					z-index: -1;
				}
			}
		}
	}
}
