// Project
.project-wrap-1 {
	position: relative;
	z-index: 1;
	overflow: hidden;
	&:after {
		content: "";
		height: 50%;
		width: 88%;
		background-color: $primary_color;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -2;
		border-radius: 0 0 50px 0;
		display: none;
		@media (min-width: 1200px) {
			display: block;
		}
	}

	&:before {
		content: url(../images/project-bg.svg);
		position: absolute;
		top: 50%;
		left: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		display: none;
		@media (min-width: 1200px) {
			display: block;
		}
	}
}


.project-grid-layout-1 {
	.project-item {
		text-align: center;
		&:hover {
			.project-thumbs {
				img {
					transform: scale(1);
				}
			}
			.project-content {
				&:after {
					height: 100%;
				}
				.project-subtitle {
					color: $white_color;
				}
				.project-cat {
					background-color: $white_color;
				}
			}
		}
		.project-thumbs {
			margin-bottom: 0;
			img {
				transform: scale(1.1);
				transition: all 0.21s cubic-bezier(.3,.02,0,.6);
			}
			&:after {
				display: none;
			}
		}
		.project-content {
			background-color: $white_color;
			padding: 30px;
			margin-right: 0;
			position: absolute;
			left: 30px;
			right: 30px;
			bottom: 30px;
			z-index: 1;
			border-radius: 10px;
			&:after {
				content: "";
				position: absolute;
				z-index: -1;
				height: 0;
				width: 100%;
				bottom: 0;
				left: 0;
				border-radius: 10px;
				background-color: $primary_color;
				transition: all 0.21s cubic-bezier(.3,.02,0,.6);
			}
		}
		.project-subtitle {
			font-size: 18px;
			color: #8d8d8d;
			margin-bottom: 5px;
		}
		.project-title {
			font-size: 20px;
			font-weight: 600;
			line-height: 1.2;
			margin-bottom: 0;
			a {
				color: $title_color;
			}
		}
		.project-cat {
			display: inline-block;
			font-size: 15px;
			text-transform: capitalize;
			font-weight: 600;
			background-color: $primary_color;
			border-radius: 500px;
			padding: 8px 15px 7px;
			line-height: 1;
			margin-bottom: 10px;
			@include transition_default();
		}
		.project-excerpt {
			margin-top: 10px;
		}
	}
}

.project-grid-layout-3 {
	.project-item {
		display: block;
		text-align: left;
		@media (min-width: 992px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.project-date {
			font-size: 22px;
			font-weight: 500;
			color: $title_color;
		}
		.project-flex-item {
			@media (min-width: 992px) {
				flex: 0 0 80%;
				display: flex;
				align-items: center;
				gap: 30px;
			}
		}
		.project-content {
			margin-top: 25px;
			position: unset;
			padding: 0;
			@media (min-width: 992px) {
				margin-top: 0;
			}
			&:after {
				display: none;
			}
			.project-cat {
				display: inline-block;
				font-size: 15px;
				text-transform: capitalize;
				font-weight: 600;
				background-color: $primary_color;
				border-radius: 500px;
				padding: 8px 15px 7px;
				line-height: 1;
				margin-bottom: 10px;
				@include transition_default();
				&:hover {
					background-color: $title_color;
				}
			}
			.project-info {
				.button-3 {
					margin-top: 40px;
				}
			}
		}
	}
}

.project-slider-layout-4 {
	.project-item {
		text-align: center;
		&:hover {
			.project-thumbs {
				img {
					transform: scale(1);
				}
			}
			.project-content {
				&:after {
					height: 100%;
				}
				.project-subtitle {
					color: $white_color;
				}
				.project-cat {
					background-color: $white_color;
				}
			}
		}
		.project-thumbs {
			margin-bottom: 0;
			img {
				transform: scale(1.1);
				transition: all 0.21s cubic-bezier(.3,.02,0,.6);
			}
			&:after {
				display: none;
			}
		}
		.project-content {
			background-color: $white_color;
			padding: 30px;
			margin-right: 0;
			position: absolute;
			left: 30px;
			right: 30px;
			bottom: 30px;
			z-index: 1;
			border-radius: 10px;
			&:after {
				content: "";
				position: absolute;
				z-index: -1;
				height: 0;
				width: 100%;
				bottom: 0;
				left: 0;
				border-radius: 10px;
				background-color: $primary_color;
				transition: all 0.21s cubic-bezier(.3,.02,0,.6);
			}
		}
		.project-subtitle {
			font-size: 18px;
			color: #8d8d8d;
			margin-bottom: 5px;
		}
		.project-title {
			font-size: 20px;
			font-weight: 600;
			line-height: 1.2;
			margin-bottom: 0;
			a {
				color: $title_color;
			}
		}
		.project-cat {
			display: inline-block;
			font-size: 15px;
			text-transform: capitalize;
			font-weight: 600;
			background-color: $primary_color;
			border-radius: 500px;
			padding: 8px 15px 7px;
			line-height: 1;
			margin-bottom: 10px;
			transition: all 0.3s ease-in-out;
		}
		.project-excerpt {
			margin-top: 10px;
		}
		.rt-button {
			margin-top: 20px;
		}
	}
	.rt-swiper-slider {
		position: inherit;
		.swiper-navigation {
			display: inline-flex;
			justify-content: center;
			width: 100%;
			gap: 10px;
			margin-top: 60px;
			@include transition_default();
			.swiper-button {
				&:hover {
					background-color: $title_color;
					i {
						color: $primary_color;
					}
				}
				position: relative;
				transform: translateY(0);
				border: 1px solid $title_color;
				i {
					color: $title_color;
					@include transition_default();
				}
				&:before {
					content: "";
					height: 1px;
					width: 250px;
					background-color: $title_color;
					position: absolute;
					top: 50%;
					transform: translateX(-50%);
					left: inherit;
					bottom: inherit;
					right: inherit;
					z-index: -1;
					transition: 0.4s;
					border-radius: 0;
				}
			}
			.swiper-button-prev {
				left: 0;
				opacity: 1;
				visibility: visible;
				&::before {
					left: -140px;
				}
				&.active {
					&::before {
						width: 500px;
						left: -265px;
						transition: all .6s ease-in-out;
					}
				}
			}
			.swiper-button-next {
				right: 0;
				opacity: 1;
				visibility: visible;
				&::before {
					right: -390px;
					left: auto;
				}
				&.active {
					&::before {
						width: 500px;
						right: -770px;
						transition: all .6s ease-in-out;
					}
				}
			}
		}
		.swiper-pagination {
			.swiper-pagination-bullet-active {
				background: $title_color;
			}
		}
	}
}

.project-grid-layout-5 {
	.project-item {
		text-align: left;
		.project-thumbs {
			.post-thumbnail-wrap {
				.post-thumbnail {
					position: relative;
					overflow: hidden;
					z-index: 1;
					border-radius: 10px;
					&:after {
						height: 100%;
						width: 100%;
						background-color: rgba(0, 0, 0, .5);
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						transition: all 1s ease-in-out;
					}
					img {
						width: 100%;
						transition: all 0.11s cubic-bezier(.3,.02,0,.6);
						border-radius: 10px;
					}
				}
			}
		}
		.project-content {
			background-color: transparent;
			padding: 0;
			&:after {
				display: none;
			}
			.project-number {
				color: $white_color;
				font-size: 30px;
				margin-bottom: 20px;
			}
			.project-title {
				font-size: 30px;
				a {
					color: $white_color;
					&:hover {
						color: $primary_color;
					}
				}
			}
			.project-excerpt {
				color: $white_color;
			}
		}
		.rt-button {
			.btn {
				justify-content: center;
				padding: 0;
			}
		}
	}
}

.project-grid-layout-6 {
	.project-item {
		position: relative;
		overflow: hidden;
		border-radius: 0;
		&:hover {
			.project-thumbs {
				.post-thumbnail-wrap {
					.post-thumbnail {
						&:after {
							height: 100%;
							transition: height .5s ease;
						}
					}
				}
			}
			.project-content {
				.project-cat {
					background-color: $primary_color;
					border-color: $primary_color;
					a {
						color: $title_color;
					}
				}
			}
			.project-hover-content {
				visibility: visible;
				opacity: 1;
				margin-bottom: 0;
			}
		}
		.project-thumbs {
			border-radius: 0;
			.post-thumbnail-wrap {
				.post-thumbnail {
					position: relative;
					overflow: hidden;
					z-index: 1;
					border-radius: 0;
					@media (min-width: 1200px) {
						height: 560px;
					}
					&:after {
						position: absolute;
						content: "";
						height: 35%;
						width: 100%;
						bottom: 0;
						left: 0;
						right: 0;
						background-color: rgba(0, 0, 0, .7);
						backdrop-filter: blur(5px);
						border-radius: 0;
						transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);

					}
					img {
						width: 100%;
						transition: all 0.11s cubic-bezier(.3,.02,0,.6);
						border-radius: 0;
						transform: scale(1);
						height: 100%;
					}
				}
			}
		}
		.project-content {
			position: absolute;
			padding: 30px;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 0;
			background-color: transparent;
			@media (min-width: 768px) {
				padding: 50px 70px;
			}
			&:after {
				display: none;
			}
			.project-cat {
				background-color: transparent;
				a {
					color: $primary_color;
				}
			}
			.project-title {
				font-size: 30px;
				a {
					color: $white_color;
					&:hover {
						color: $primary_color;
					}
				}
			}
			.project-excerpt {
				color: $white_color;
			}
		}
		.project-hover-content {
			visibility: hidden;
			opacity: 0;
			transition: all .5s;
			margin-bottom: -180px;
		}
		.project-btn {
			display: inline-block;
			margin-top: 20px;
			color: $white_color;
			position: relative;
			&:hover {
				&:before {
					width: 100%;
				}
			}
			&:before {
				position: absolute;
				content: "";
				height: 1px;
				width: 0;
				bottom: 4px;
				left: 0;
				background-color: $white_color;
				transition: width .4s;
			}
		}
	}
}

/*----------------------------------*/
/* Project Accordion */
/*----------------------------------*/

.rt-project-accordion-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-wrap: wrap;
	@media(min-width: 1200px) {
		flex-direction: row;
		height: 440px;
	}
	.item {
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		z-index: 1;
		flex: 1;
		transition: flex .5s ease;
		margin-right: 5px;
		overflow: hidden;
		border-radius: 5px;
		z-index: 1;
		&:after {
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, .7);
			transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
			border-radius: 5px;
			z-index: -1;
		}
		@media(max-width: 1199px) {
			margin-right: 0;
			margin-bottom: 5px;
		}
		&:hover {
			flex: 2;
			.content {
				.inner {
					opacity: 0;
					width: 0;
				}
				.hover-content {
					opacity: 1;
				}
			}
		}
		.content {
			position: absolute;
			left: 57px;
			bottom: 65px;
			right: 35px;
			@media(max-width: 1199px) {
				position: unset;
				padding: 30px;
			}
			.inner {
				position: absolute;
				transform: rotate(-90deg);
				width: 350px;
				bottom: 80px;
				left: -120px;
				opacity: 1;
				transition: opacity .2s;
				@media(max-width: 1199px) {
					display: none;
				}
			}
			.rt-accordion-category {
				margin-bottom: 10px;
				display: block;
				a {
					background-color: transparent;
					border: 1px solid $primary_color;
					font-size: 15px;
					font-weight: 600;
					display: inline-block;
					border-radius: 500px;
					color: $primary_color;
					padding: 0 15px;
				}
			}
			.accordion-title {
				font-weight: 600;
				font-size: 30px;
				line-height: 40px;
				margin-bottom: 15px;
				a {
					color: $white_color;
				}
			}

			.hover-content {
				position: relative;
				opacity: 0;
				transition: opacity .4s;
				@media(min-width: 1441px) {
					width: 533px;
				}
				.desc {
					color: $white_color;
				}
				.accordion-button {
					a {
						display: inline-block;
						margin-top: 20px;
						color: $white_color;
						position: relative;
						&:hover {
							&:before {
								width: 100%;
							}
						}
						&:before {
							position: absolute;
							content: "";
							height: 1px;
							width: 0;
							bottom: 4px;
							left: 0;
							background-color: $white_color;
							transition: width .4s;
						}
					}
				}
			}
		}
	}
}

.rt-project-scroll {
	.rt-project-multi-layout-2 {
		.project-item {
			.project-content {
				.project-title {
					display: inline-block;
				}
			}
		}
	}
}






