/*===============================
Section Title
================================*/
.elementor-section-wrap {
	overflow: hidden;
}
.section-title-wrapper {
	position: relative;
	z-index: 1;
	margin-bottom: 10px;
	.top-sub-title {
		color: $title_color;
		display: inline-block;
		font-size: 15px;
		text-transform: capitalize;
		font-weight: 600;
		margin-bottom: 5px;
		position: relative;
		border: 1px solid #D8D8D8;
		border-radius: 50px;
		line-height: 1;
		padding: 10px 14px 10px 30px;
		.round-subtitle-shape {
			&:before {
				position: absolute;
				content: "";
				left: 14px;
				top: 14px;
				background-color: $primary_color;
				height: 8px;
				width: 8px;
				border-radius: 100%;
				animation: rt-opacity 1.5s ease infinite;
			}
		}
	}
	.main-title {
		position: relative;
		display: inline-block;
		font-size: 36px;
		line-height: 48px;
		font-weight: 600;
		@media (min-width: 768px) {
			font-size: 40px;
			line-height: 52px;
		}
		.has-animation {
			width: 0;
			position: absolute;
			top: 40px;
			right: 0;
			line-height: 1;
		}
		.active-animation {
			stroke-dasharray: 770;
			animation: Rtdraw 1s reverse;
			width: auto;
		}
		path {
			stroke: $primary_color;
		}
		span {
			font-weight: 400;
		}
		img.spin {
			animation: spin 15s linear infinite;
		}
	}

	.baseline {
		img {
			vertical-align: baseline;
		}
	}
	.middle {
		img {
			vertical-align: middle;
			padding-left: 6px;
			padding-right: 6px;
		}
	}
	.bottom {
		img {
			vertical-align: bottom;
		}
	}
	.description {
		p {
			opacity: 1 !important;
			margin-bottom: 15px;
		}
	}
	ul.feature-list {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 20px 0 0;
		text-align: left;
		&.two-column {
			li {
				@media (min-width: 768px) {
					width: 50%;
					float: left;
				}

			}
		}
	}
	.list-layout-1 {
		li {
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 10px;
			color: $title_color;
			.icon {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				font-size: 8px;
				width: 20px;
				height: 20px;
				margin-right: 9px;
				border-radius: 100%;
				color: $title_color;
				background-color: $primary_color;
				position: relative;
				top: -2px;
			}
		}
	}
	.list-layout-2 {
		li {
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 15px;
			color: $title_color;
			.icon {
				margin-right: 10px;
				background-color: $primary_color;
				height: 25px;
				width: 25px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border-radius: 3px;
				i {
					font-size: 14px;
					&:before {
						width: auto;
						margin: 0;
					}
				}
			}
		}
	}
}

.section-title-wrapper-layout-2 {
	.title-inner-wrapper {
		.top-sub-title-wrap {
			.top-sub-title {
				color: $title_color;
				font-size: 14px;
				text-transform: capitalize;
				background-color: $primary_color;
				display: inline-block;
				padding: 10px 20px;
				border: 0;
				font-weight: 700;
			}
		}
	}
}

.section-title-wrapper-layout-3 {
	.title-inner-wrapper {
		.top-sub-title-wrap {
			.top-sub-title {
				color: #7c7c7c;
				font-size: 18px;
				text-transform: capitalize;
				font-weight: 500;
				margin-bottom: 0;
				border: 0;
				padding: 0;
			}
		}
	}
}
.section-title-wrapper-layout-4 {
	.title-inner-wrapper {
		.top-sub-title-wrap {
			.top-sub-title {
				color: $primary_color;
				font-size: 14px;
				text-transform: capitalize;
				font-weight: 700;
				border: 0;
				padding: 0;
				.arrow-subtitle-shape {
					margin-left: 25px;
					&:before {
						position: absolute;
						content: "";
						left: 0;
						top: 6px;
						background-color: $primary_color;
						height: 1px;
						width: 20px;
					}
				}
			}
		}
	}
}
.section-title-wrapper-layout-5 {
	.title-inner-wrapper {
		.top-sub-title-wrap {
			.top-sub-title {
				color: $primary_color;
				font-size: 14px;
				text-transform: capitalize;
				font-weight: 700;
				border: 0;
				padding: 0;
				padding-left: 10px;
				padding-right: 10px;
				.double-round-subtitle-shape {
					&:before, &:after {
						position: absolute;
						content: "";
						left: 0;
						top: 6px;
						background-color: $primary_color;
						border-radius: 100%;
						height: 5px;
						width: 5px;
						animation: rt-opacity 1.5s ease infinite;
					}
					&:after {
						right: 0;
						left: auto;
						top: 6px;
					}
				}
			}
		}
	}
}


@media (max-width: 991px) {
	.section-title-wrapper .description br,
	.section-title-wrapper .main-title br {
		display: none;
	}
}


/* End Section Title */
