// RT Social Icon
.rt-social-icon {
	display: inline-flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	.rt-social-item {
		display: inline-flex;
		align-items: center;
		gap: 10px;
		flex-wrap: wrap;
		a {
			height: 35px;
			width: 35px;
			border: 1px solid $title_color;
			border-radius: 100%;
			background-color: transparent;
			color: $title_color;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			transition: all 0.4s ease-in-out;
			overflow: hidden;
			position: relative;
			z-index: 1;
			&:hover {
				&::after {
					transform: scale(.9);
				}
				i {
					color: $primary_color;
				}
			}
			&::after {
				content: "";
				transform: scale(0);
				background-color: $title_color;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: -1;
				transition: 0.4s;
				border-radius: 100%;
			}
			i {
				display: block;
				font-size: 14px;
			}
		}
	}
}

