/*-------------------------------------
#. EL: Swiper Slider
---------------------------------------*/
.rt-swiper-slider {
	overflow: hidden;
	@media(min-width: 1200px) {
		position: static;
	}
	.swiper-wrapper {
		align-items: center;
	}
}

.swiper-navigation {
	.swiper-button-prev {
		left: 12px;
	}
	.swiper-button-next {
		right: 12px;
	}
	.swiper-button {
		height: 60px;
		width: 60px;
		background-color: $primary_color;
		border: 1px solid $primary_color;
		border-radius: 100%;
		z-index: 1;
		top: 50%;
		margin-top: 0;
		transform: translateY(-50%);
		transition: all .4s ease-out;
		@include transition_default();
		i {
			color: $title_color;
			&:before {
				margin: 0;
			}
		}
		&:hover {
			i {
				color: $title_color;
			}
		}
		&:after {
			display: none;
		}
	}
}

.swiper-pagination {
	position: relative;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	bottom: 0 !important;
	z-index: 1;
	align-items: center;
	.swiper-pagination-bullet {
		position: relative;
		height: 8px;
		width: 8px;
		border-radius: 100%;
		//background-color: rgba(255, 255, 255, .4);
		text-align: left;
		font-size: 0;
		background-color: $title_color;
		margin: 0 6px !important;
	}
	.swiper-pagination-bullet-active {
		//background-color: $white_color;
		background-color: $primary_color;
		height: 12px;
		width: 12px;
	}
}
@media(max-width: 767px) {
	.swiper-navigation {
		display: none;
	}
}

.swiper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
	perspective: 1200px;
}
.swiper-pointer-events {
	touch-action: pan-y;
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
	transform-style: preserve-3d;
}
