/* Footer Copyright
***************************/
.footer-copyright-wrapper {
	position: relative;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $body_color;
	font-size: 16px;
	.copyright-text {
		text-align: center;
		font-size: 15px;
		a {
			color: $title_color;
			font-weight: 500;
			&:hover {
				color: $primary_color;
			}
		}
	}


	.social-icon {
		align-items: center;
		a {
			height: 38px;
			width: 38px;
			border-radius: 38px;
			background-color: transparent;
			color: $button_text_color;
			border: 1px solid $title_color;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			transition: all 0.4s ease-in-out;
			overflow: hidden;
			position: relative;
			z-index: 1;
			&::after {
				content: "";
				transform: scale(0);
				background-color: $title_color;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: -1;
				transition: 0.4s;
				border-radius: 100%;
			}
			svg {
				fill: $title_color;
			}
			&:hover {
				&::after {
					transform: scale(.9);
				}
				svg {
					fill: $primary_color;
				}
			}
		}
		svg {
			width: 14px;
			height: 14px;
		}
	}
}
@media (min-width: 1400px) {
	.has-sticky-footer {
		.site-footer {
			position: sticky;
			bottom: 0;
			top: 0;
			z-index: 0;
		}
		.site-content {
			position: relative;
			background-color: $body_bg_color;
			z-index: 1;
		}
	}
}
