/* Topbar Navigation
***************************/
.kariez-topbar {
	font-size: 14px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	padding: 12px 0;
	@media(max-width: 768px) {
		display: none;
	}
	@media(max-width: 650px) {
		.topbar-right {
			padding: 5px 0;
		}
	}
	.topbar-row {
		justify-content: space-between;
		@media(max-width: 991px) {
			justify-content: center;
		}
	}

	.topbar-left {
		@media(max-width: 991px) {
			justify-content: center;
		}
		span {
			position: relative;
			display: flex;
			align-items: center;
			column-gap: 10px;
			@media(max-width: 767px) {
				justify-content: center;
			}
			&:last-child {
				&:before {
					display: none;
				}
			}
			&:before {
				content: "";
				height: 55px;
				width: 1px;
				background-color: rgba(0, 0, 0, .1);
				position: absolute;
				right: -15px;
				display: none;
				@media(min-width: 1200px) {
					display: block;
				}
			}
			i {
				color: $title_color;
			}
			.text {
				color: $title_color;
			}
			a {
				color: $title_color;
				&:hover {
					color: $primary_color;
				}
			}
		}
	}

	.social-icon {
		display: inline-flex;
		align-items: center;

		a {
			border: 0;
			position: relative;
			z-index: 1;
			&:hover {
				&::after {
					transform: scale(1);
				}
				svg {
					fill: $primary_color;
				}
			}
			&:not(:last-child) {
				margin-right: 20px;
			}
		}

		[class*=icon] svg {
			width: 14px;
			height: 14px;
			fill: $title_color;
		}
	}
}

.has-trheader .site-header .kariez-topbar  {
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	.topbar-left {
		span {
			color: #C5C5C5;
			&:before {
				background-color: rgba(255, 255, 255, .1);
			}
			i {
				color: #C5C5C5;
			}
			.text {
				color: #C5C5C5;
			}
			a {
				color: #C5C5C5;
				&:hover {
					color: $white_color;
				}
			}
		}
	}
	.social-icon {
		a {
			&:hover {
				svg {
					fill: $white_color;
				}
			}
		}

		[class*=icon] svg {

			fill: rgba(255, 255, 255, .5);
		}
	}
}
