// Service Sidebar
.service-sidebar-menu,
.service-sidebar-menu2{
	.kariez-navigation {
		display: block;
	}
}
.rt-service-sidebar.widget_block.widget_media_image {
	.wp-block-image {
		margin: 0 !important;
	}
}
.rt-service-sidebar, .service-sidebar-menu, .service-sidebar-menu2 {
	border: 1px solid #E5E5E5;
	border-radius: 10px;
	width: 100%;
	max-width: 100%;
	margin-bottom: 30px;
	padding: 33px;
	ul.menu,
	.frm-fluent-form {
		.ff-el-input--label {
			display: none;
		}
		.ff-el-form-control {
			font-size: 15px;
		}
		input {
			height: 55px;
		}
		.ff-btn-submit {
			font-size: 16px;
			font-weight: 700;
			width: 100%;
			padding: 18px 30px;
			border-radius: 6px;
			letter-spacing: 0.5px;
			background-color: $primary_color;
			color: $button_color;
			&:hover {
				background-color: $secondary_color;
				color: $button_color;
			}
		}
		.ff-el-form-check-label {
			font-size: 15px;
			line-height: 1.6;
		}
	}
}

.kariez-widget-area .rt-service-sidebar.widget_nav_menu ul>li.current-menu-item {
	border-bottom: 1px solid $title_color;
}
.kariez-widget-area .rt-service-sidebar.widget_nav_menu ul>li.current-menu-item a {
	color: $primary_color;
}


