

/* Main Navigation
***************************/
.navigation-menu-wrap {
	@media (min-width: 1350px) {
		position: relative;
	}
	@media(max-width: 1024px) {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	@media(max-width: 575px) {
		justify-content: center;
		gap: 12px;
		.menu-icon-wrapper {
			margin-left: unset;
			padding-left: 0;
			> ul {
				justify-content: center;
			}
		}
	}
}
.kariez-navigation {
	flex: 1;
	display: flex;
	align-items: center;
	.main-header-section & {
		@media (max-width: 1024px) {
			display: none;
		}
	}

	ul.kariez-navbar {
		padding: 0;
		margin: 0;
	}

	ul li {
		display: inline-block;
		position: relative;
		margin-bottom: 0;
		&:not(:last-child) {
			margin-right: 60px;
		}
	}

	.dropdown-menu li {
		margin-right: 0;
		&:not(:last-child) {
			margin-right: 0;
		}
	}

	ul li a {
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		color: $title_color;
		text-decoration: none;
		font-family: $heading_font;
		padding: 35px 0;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		text-transform: uppercase;


		@media (max-width: 1199px) {
			padding: 26px 15px;
		}
	}
	ul li ul li > a:after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 0%;
		top: auto;
		left: 0%;
		bottom: 0%;
		background-color: $primary_color;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease-in-out;
	}

	ul li ul li:hover > a:after {
		height: 100%;
		top: 0%;
		bottom: auto;
		visibility: visible;
		opacity: 1;
	}

	ul li ul li:hover > a svg {
		fill: $title_color;
	}

	ul li.current-menu-item > a svg,
	ul li.current-menu-ancestor > a svg {
		fill: $primary_color;
	}

	ul li.current-menu-item > a,
	ul li.current-menu-ancestor > a {
		@extend .primaryColor;
	}

	ul li a:hover {
		@extend .primaryColor;
		svg {
			fill: $primary_color;
		}
	}

	//ul.menu > li > a:hover {
	//	@extend .primaryColor;
	//	svg {
	//		fill: $title_color;
	//	}
	//}

	//ul.menu li.current-menu-item > a,
	//ul.menu li.current > a {
	//	@extend .primaryColor;
	//}

	/* #. Submenu */
	ul > li > ul {

		position: absolute;
		top: 100%;
		background-color: #ffffff;
		width: 260px;
		list-style: none;
		margin: 0;
		box-shadow: 0 13px 48px 0 rgb(0 0 0 / 15%);
		visibility: hidden;
		opacity: 0;
		z-index: 9;
		transform-origin: top center;
		transform: scaleY(0) translateZ(100px);
		transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease;
	}

	ul > li:hover > ul {
		opacity: 1;
		visibility: visible;
		transform: scaleY(1) translateZ(0px);
	}

	ul li ul li ul {
		left: 100%;
		top: 0;
		width: $dropdown_width;
	}
	ul li ul li {
		padding: 0 13px;
		display: block;
	}

	ul li ul li a {
		position: relative;
		display: block;
		color: $title_color;
		padding: 10px 17px;
		z-index: 2;
		font-size: 15px;
	}

	ul li ul > li:last-child {
		> a {
			border-bottom: none;
		}
	}

	ul li ul li:hover > a {
		color: $title_color;
	}

	/*Menu hover effect*/
	ul.menu li ul.dropdown-menu li:last-child:after {
		border-bottom: none;
	}

	ul.menu li ul.dropdown-menu li a:hover {
		color: $tertiary_color;
	}

	ul.menu li ul.dropdown-menu li a:before {
		position: absolute;
		z-index: 1;
		content: "";
		@extend .tertiaryBG;
		height: 0.0625rem;
		width: 0;
		right: 0;
		left: inherit;
		bottom: 0;
		transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	ul.menu li ul.dropdown-menu li a:hover:before {
		width: 100%;
		left: 0;
		right: inherit;
	}

	> ul li.page_item_has_children > a:after,
	> ul li.menu-item-has-children > a:after {
		content: "";
		width: 7px;
		height: 7px;
		border: 1px solid $primary_color;
		display: inline-block;
		transform: rotate(45deg) translate(1px, -4px);
		border-left: none;
		border-top: none;
		margin-left: 8px;
		@include transition_default();
	}

	.caret svg {
		fill: unset;
		transition: fill 0.4s;
	}

	.dropdown-menu .caret {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
	}

	.dropdown-menu .caret svg {
		transform: rotate(-90deg) scale(.9);
	}
}



//Navigation offset change if it try to cross the body width
.kariez-navbar li > .dropdown-menu li {
	&.dropdown-inverse .dropdown-menu {
		left: auto;
		min-width: 195px;
		transition: all .2s;
	}

	&.dropdown-inverse:hover .dropdown-menu {
		margin-right: -5px;
	}
}
