button {
	@include transition_default();
	cursor: pointer;
}

.btn {

	background-color: #F9F9F9;
	text-align: left;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 10px 7px 10px 30px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	font-weight: 500;
	text-transform: capitalize;
	height: 55px;
	//width: 190px;
	border: 0;
	border-radius: 30px;
	font-size: 15px;
	transition: all .4s cubic-bezier(.42,0,.58,1);
	transition-delay: 0s;

	&:active {
		box-shadow: none;
	}

	&:focus {
		outline: none;
	}

	&.btn-xl {
		$xl_size: $base_fs + 8;
		padding: ($base_fs+8) ($base_fs + 16);
		@include font_size($xl_size, $xl_size);
	}

	&.btn-lg {
		$lg_size: $base_fs + 2;
		padding: ($base_fs + 2) ($base_fs + 8);
		@include font_size($lg_size, $lg_size);
	}

	&.btn-sm {
		$lg_size: $base_fs - 3;
		padding: ($base_fs - 4) ($base_fs + 4);
		@include font_size($lg_size, $lg_size);
	}

	&.btn-xs {
		$lg_size: $base_fs - 6;
		padding: ($base_fs - 5) ($base_fs + 2);
		@include font_size($lg_size, $lg_size);
	}

}

//Button style
.btn-primary {
	@include button_style($white_color, $primary_color, $secondary_color);
}

.btn-secondary {
	@include button_style($white_color, $secondary_color, rgba($secondary_rgb, 0.8));
}

.btn-light {
	@include button_style($white_color, $meta_color, $primary_color);
}

.btn-gray {
	@include button_style($white_color, $meta_color, $primary_color);
}
.rt-button .btn {
	.button-text {
		position: relative;
		color: $title_color;
		display: block;
		margin-right: 10px;
		transition: all .4s cubic-bezier(.42,0,.58,1);
		transition-delay: .1s;
	}
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		right: auto;
		bottom: auto;
		left: 0;
		background-color: $primary_color;
		transform: translate(calc(-100% - 2px));
		border-radius: 30px;
		transition: all .6s cubic-bezier(.645,.045,.355,1);
		transition-delay: 0s;
		z-index: -1;
	}
	.btn-round-shape {
		transition: all .4s cubic-bezier(.42,0,.58,1);
		transition-delay: .1s;
		height: 45px;
		width: 45px;
		background-color: $primary_color;
		border-radius: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		i {
			font-size: 18px;
			position: absolute;
			top: 50%;
			transform: translate(-50% ,-50%);
			right: auto;
			bottom: auto;
			left: 50%;
		}
		&:before {
			transition: all .4s cubic-bezier(.42,0,.58,1);
			transition-delay: .2s;
			margin: 0;
			width: auto;
			display: block;
		}
	}
	&:hover {
		color: $title_color;
		&::before {
			transform: translate(0);
			transition: all .4s cubic-bezier(.42,0,.58,1);
			transition-delay: 0s;
		}
		.btn-round-shape {
			transition: all .4s cubic-bezier(.42,0,.58,1);
			transition-delay: .2s;
			background-color: $white_color;
			i {
				transition: all .4s cubic-bezier(.42,0,.58,1);
				transition-delay: .2s;
				&:before {
					animation: move-forward-right .6s cubic-bezier(.645,.045,.355,1) 0s both 1;
				}
			}
		}
	}
}
 //button 2

.rt-button .button-2 {
	background-color: rgba(249, 249, 249, .1);
	.button-text {
		color: $white_color;
	}
	&:before {
		background-color: $white_color;
	}

	i {
		color: $button_text_color;
	}
	&:hover {
		.button-text {
			color: $title_color;
		}
		.btn-round-shape {
			background-color: $primary_color;
		}
	}
}

.rt-button .button-3 {
	background-color: transparent;
	color: $title_color;
	border: 1px solid $title_color;
	&:before {
		background-color: $primary_color;
	}
	i {
		color: $button_text_color;
	}
	&:hover {
		border-color: $primary_color;
		.btn-round-shape {
			background-color: $white_color;
		}
	}
}

.rt-button .button-4 {
	color: $title_color;
	&:before {
		background-color: $title_color;
	}
	i {
		color: $button_text_color;
	}
	&:hover {
		.button-text {
			color: $white_color;
		}
		.btn-round-shape {
			background-color: $white_color;
		}
	}
}
.rt-button .button-5 {
	color: $title_color;
	background-color: $primary_color;
	.button-text {
		margin-right: 0;
	}
	&:before {
		background-color: $title_color;
	}
	i {
		color: $button_text_color;
	}
	&:hover {
		.button-text {
			color: $white_color;
		}
		i {
			color: $white_color;
		}
	}
}


